
S3_ENDPOINT = "yourBucket.nbg1.your-objectstorage.com"
S3_BUCKET = "yourBucket"
S3_REGION = "nbg1"
S3_PROJECTID = "" // Project ID from https://console.hetzner.cloud/projects/[PROJECT_ID]/buckets
S3_KEY = "" // Access Key from https://console.hetzner.cloud/projects/2541307/security/s3-credentials
S3_SECRET = "" // Secret Key from https://console.hetzner.cloud/projects/2541307/security/s3-credentials